* {
    padding:  0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: hsl(210, 100%, 60%);
    --primary-hover-color: hsl(210, 100%, 80%);
    --pale-color: hsl(210, 100%, 96%);
    --white-color: #ffffff;
    --black-color: #000000;
    --gray-text: #6B7280;
    --bg-color: hsl(210, 50%, 98%);
    --input-color: hsl(210, 20%, 95%);

    --font-size-h1: 2.5rem;
    --font-size-h2: 2rem;
    --font-size-h3: 1.75rem;
    --font-size-biggest: 3rem;
    --font-size-smallest: 0.75rem;
    --font-size-normal: 1rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img{
    height: auto;
    width: 100%;
}
